body {
    color: black;
    font-family: 'Nunito Semibold';
    text-align: center;
    background-color: #e1e1e1;
    overflow: hidden;
}

.feed {
    text-align: center;
    float: right;
}

/*Defining Grid Areas*/
.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
    overflow: hidden;
}

.section {
    grid-area: section;
    display: none;
}

footer {
    grid-area: footer;
}

/*mobile first view*/
#content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(50px, auto);
    grid-gap: 5px;
    margin: 0 auto;
    grid-template-areas:
    "header header header header"
    "footer footer aside aside"
    "main main main main"
    "main main main main"
    "main main main main";
}

/*Footer*/
.nested-footer {
    display: grid;
    grid-gap: 10px;
    grid-column: span;
    min-width: 100px;
}

.nested-footer p {
    padding: 0px;
    margin: 0px;
}

.nested-footer p a {
    color: inherit;
    text-decoration: none;
}

/*feeds scrolling*/
.post-list {
    overflow-y: scroll;
    max-height: 350px;
}

.commentList {
    overflow-y: scroll;
    max-height: 450px;
}

/*desktop view*/
@media screen and (min-width: 769px) {

    .section {
        display: inherit;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 10px;
        margin: 0 auto;
        grid-template-areas:
    "header header header header"
    "aside main main section"
    "aside main main section"
    "aside main main section"
    "footer main main section";
    }

    /*footer*/
    .nested-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        grid-column: span;
    }

    .post-list {
        max-height: 650px;
    }
}

/*smallest screen view*/
@media screen and (max-width: 450px) {
    .aside {
        display: none;
    }

    .section {
        display: none;
    }

    footer {
        display: none;
    }

    #content {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: minmax(50px, auto);
        grid-gap: 5px;
        margin: 0 auto;
        grid-template-areas:
    "header header header header"
    "main main main main"
    "main main main main"
    "main main main main"
    "main main main main";
    }

    .post-list {
        max-height: 700px;
    }
}


/*!*todo: remove ater finish*!*/
/*#content .header, .aside, .main, .section, footer {*/
/*    !*background: #476072;*!*/
/*    !*padding: 30px;*!*/
/*}*/

h3 {
    color: #fff;
}

h4 {
    display: inline;
    color: #fff;
}

.feed-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(1,2fr);*/
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 2px;
    grid-template-areas: "arrowBack feedText .";
}

.feed-grid > * {
    padding: 20px;
    /*background: aqua;*/
}

.feed-text {
    grid-area: feedText;
    padding: 0;
}

.arrow-back {
    grid-area: arrowBack;
}


.commentList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*grid-template-rows: repeat(1,2fr);*/
    grid-auto-rows: minmax(30px, auto);
    grid-gap: 2px;
    grid-template-areas: ". commentText popUpState";
    padding: 10px;
}

.comment-text {
    grid-area: commentText;
}

.popupstate{
    grid-area: popUpState;
}